<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Swedish-American engineer Gideon Sundback patents the all-purpose zipper</key>
	<dict>
		<key>date</key>
		<date>1913-04-28T18:06:40Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Gideon_Sundback</string>
	</dict>
	<key>Adolf Hitler becomes Führer as hyperinflation in the Weimar Republic begins</key>
	<dict>
		<key>date</key>
		<date>1921-07-28T18:06:40Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/https://en.wikipedia.org/wiki/Adolf_Hitler%27s_rise_to_power</string>
	</dict>
	<key>Italy becomes a republic</key>
	<dict>
		<key>date</key>
		<date>1946-06-01T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Italian_institutional_referendum,_1946</string>
	</dict>
	<key>Sputnik 1 was launched by the USSR</key>
	<dict>
		<key>date</key>
		<date>1957-10-03T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Sputnik_1</string>
	</dict>
	<key>East Germany begins construction of the Berlin Wall</key>
	<dict>
		<key>date</key>
		<date>1961-08-12T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Berlin_Wall</string>
	</dict>
	<key>Assassination of John F. Kennedy</key>
	<dict>
		<key>date</key>
		<date>1963-11-21T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Assassination_of_John_F._Kennedy</string>
	</dict>
	<key>The first manned mission to the Moon</key>
	<dict>
		<key>date</key>
		<date>1969-07-19T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Apollo_11</string>
	</dict>
	<key>Charlie Chaplin dies at home after suffering a stroke in his sleep</key>
	<dict>
		<key>date</key>
		<date>1977-12-24T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Charlie_Chaplin#Death</string>
	</dict>
	<key>The world&apos;s first website and server go live at CERN</key>
	<dict>
		<key>date</key>
		<date>1990-12-19T18:30:00Z</date>
		<key>url</key>
		<string>https://home.cern/topics/birth-web</string>
	</dict>
	<key>The end of the Soviet Union</key>
	<dict>
		<key>date</key>
		<date>1991-12-24T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Dissolution_of_the_Soviet_Union</string>
	</dict>
	<key>Dolly the sheep becomes the first successful cloned mammal</key>
	<dict>
		<key>date</key>
		<date>1996-07-04T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Dolly_(sheep)</string>
	</dict>
	<key>Google is founded by Larry Page and Sergey Brin</key>
	<dict>
		<key>date</key>
		<date>1998-09-03T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Google</string>
	</dict>
	<key>Wikipedia is launched</key>
	<dict>
		<key>date</key>
		<date>2001-01-14T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Wikipedia</string>
	</dict>
	<key>Steve Jobs introduces the first iPod</key>
	<dict>
		<key>date</key>
		<date>2001-10-22T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/IPod</string>
	</dict>
	<key>Facebook is launched</key>
	<dict>
		<key>date</key>
		<date>2004-02-03T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Facebook</string>
	</dict>
	<key>The Large Hadron Collider is completed as the world&apos;s largest and most powerful particle collider</key>
	<dict>
		<key>date</key>
		<date>2008-09-09T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Large_Hadron_Collider</string>
	</dict>
	<key>Barack Obama is elected President of the United States</key>
	<dict>
		<key>date</key>
		<date>2009-01-19T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Barack_Obama</string>
	</dict>
	<key>Michael Jackson dies of acute propofol and benzodiazepine intoxication</key>
	<dict>
		<key>date</key>
		<date>2009-06-24T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Death_of_Michael_Jackson</string>
	</dict>
	<key>Burj Khalifa in Dubai, the world&apos;s tallest skyscraper, is completed</key>
	<dict>
		<key>date</key>
		<date>2009-09-30T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Burj_Khalifa</string>
	</dict>
	<key>Lech Kaczyński is among 96 killed when their airplane crashes in Smolensk</key>
	<dict>
		<key>date</key>
		<date>2010-04-09T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/2010_Polish_Air_Force_Tu-154_crash</string>
	</dict>
	<key>David Cameron becomes Prime Minister of the United Kingdom</key>
	<dict>
		<key>date</key>
		<date>2010-05-10T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/David_Cameron</string>
	</dict>
	<key>Aung San Suu Kyi is released from house arrest</key>
	<dict>
		<key>date</key>
		<date>2010-11-12T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Aung_San_Suu_Kyi#2010_release</string>
	</dict>
	<key>Felix Baumgartner becomes the first person to break the sound barrier without a vehicle</key>
	<dict>
		<key>date</key>
		<date>2012-10-13T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Red_Bull_Stratos</string>
	</dict>
	<key>Edward Snowden releases classified documents concerning mass surveillance by the NSA</key>
	<dict>
		<key>date</key>
		<date>2013-07-05T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Edward_Snowden</string>
	</dict>
	<key>The world says goodbye to Nelson Mandela</key>
	<dict>
		<key>date</key>
		<date>2013-12-04T18:30:00Z</date>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Death_of_Nelson_Mandela</string>
	</dict>
</dict>
</plist>
